body {
	background-image: url('http://cloud.avandamiri.com/image/3N410e2Q2Z3F/background.png');
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: auto;
}

.nav {
	border-width: 1px;
	border-style: solid;
	border-color: #6E6E6E;
	height: 100px;
	background-color: #C4C4C4;
}

.nav ul {
	color: white;
	text-shadow: 1px 1px #848484;
	float: right;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 15px;
}

.nav ul li {
	display: inline;
	margin-right: 20px;
}

.nav a {
	color: white;
	text-shadow: 1px 1px #848484;
	text-decoration: none;
}

.content-box {
	border-width: 1px;
	border-style: solid;
	border-color: #D8D8D8;
	border-radius: 10px;
	width: 50%;
	margin: 50px;
	padding: 35px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 5px #D8D8D8;
}

.logo {
	float: left;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.button {
	background-color: #0431B4;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 5px;
	border-color: #08088A;
}

.details-button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	margin-right: 20px;
	border: 1px solid #0431B4;
	color: #0431B4;
}

.cart-button {
	background-color: #0431B4;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 5px;
	margin-right: 20px;
	border-color: #08088A;
	color: white;
}

.products {
	margin-bottom: 10px;
	overflow: auto;

}

.product-image {
	float: left;
	width: 275px;
}

.product-image img {
	width: 275px;
}

.product-description {
	width: 300px;
	margin-left: 300px;
}

.products p {
	margin-top: 0px;
}

hr {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	text-align: center;
	color: #A4A4A4;
	font-weight: lighter;
	font-size: 14px;
}

label {
	font-weight: bold;
	margin-bottom: 25px;
	width: 100px;
	float: left;
}

input[type="email"], input[type="text"], input[type="password"] {
	border-radius: 4px;
	margin-left: 25px;
	height: 2em;
	width: 200px;
}

input[type="email"], input[type="text"], input[type="password"], input[type="checkbox"] {
	margin-bottom: 25px;
}

input:valid:focus {
	border-color: black;
	outline-style: none;
}

input:invalid:focus {
	border-color: black;
	outline-style: none;
}

input[type="email"], input[type="text"], input[type="password"] {
	border: 2px solid #F6CED8;
}


